@model CompanyViewModel

@{
    ViewData["Title"] = "Úprava společnosti";
}

<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3" style="display:none;">
                <input class="form-control" asp-for="Company.Id" value="@Model.Company.Id">
                <input class="form-control" asp-for="Contact.Id" value="@Model.Contact.Id">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Company.Name">Název společnosti:</label>
                <input class="form-control" asp-for="Company.Name" value="@Model.Company.Name">
                <span asp-validation-for="Company.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Company.ICO">IČO:</label>
                <input class="form-control" asp-for="Company.ICO" value="@Model.Company.ICO">
                <span asp-validation-for="Company.ICO" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Company.DIC">DIČ:</label>
                <input class="form-control" asp-for="Company.DIC" value="@Model.Company.DIC">
                <span asp-validation-for="Company.DIC" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.Phone">Telefonní číslo:</label>
                <input class="form-control" asp-for="Contact.Phone" value="@Model.Contact.Phone">
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.Email">Email:</label>
                <input class="form-control" asp-for="Contact.Email" value="@Model.Contact.Email">
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.Web">Web:</label>
                <input class="form-control" asp-for="Contact.Web" value="@Model.Contact.Web">
                <span asp-validation-for="Contact.Web" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.City">Město:</label>
                <input class="form-control" asp-for="Contact.City" value="@Model.Contact.City">
                <span asp-validation-for="Contact.City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.PostalCode">PSČ:</label>
                <input class="form-control" asp-for="Contact.PostalCode" value="@Model.Contact.PostalCode">
                <span asp-validation-for="Contact.PostalCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.Street">Ulice:</label>
                <input class="form-control" asp-for="Contact.Street" value="@Model.Contact.Street">
                <span asp-validation-for="Contact.Street" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Contact.BuildingNumber">Číslo popisné:</label>
                <input class="form-control" asp-for="Contact.BuildingNumber" value="@Model.Contact.BuildingNumber">
                <span asp-validation-for="Contact.BuildingNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Uložit</button>
    </div>

</form>