@using PokladniSystem.Infrastructure.Identity.Enums
@model ProductListViewModel

@{
    ViewData["Title"] = "Seznam zboží";
}

<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>

@if (User.IsInRole(nameof(Roles.WarehouseAccountant)))
{
    <a class="btn btn-primary mb-4" asp-action="Create"><i class="bi bi-plus-circle me-1"></i>Přidat produkt</a>
}

<form method="get" action="@Url.Action("Index")" id="columnsContainer" class="row">
    <div class="col-sm-6 col-md-6 col-lg mb-3">
        <label class="form-label" asp-for="EanCodeSearch">Kód EAN:</label>
        <input class="form-control" asp-for="EanCodeSearch">
        <span asp-validation-for="EanCodeSearch" class="text-danger"></span>
    </div>
    <div class="col-sm-6 col-md-6 col-lg mb-3">
        <label class="form-label" asp-for="SellerCodeSearch">Kód prodejce:</label>
        <input class="form-control" asp-for="SellerCodeSearch">
        <span asp-validation-for="SellerCodeSearch" class="text-danger"></span>
    </div>
    <div class="col-sm col-md col-lg mb-3">
        <label class="form-label" asp-for="VATRateIdSearch">DPH:</label>
        <select class="form-select" asp-for="VATRateIdSearch">
            <option value="" selected>Nevybráno</option>
            @if (Model.VATRates != null)
            {
                @foreach (var rate in Model.VATRates)
                {
                    if (Model.VATRateIdSearch != null && rate.Id == Model.VATRateIdSearch)
                    {
                        <option value="@rate.Id" selected>@rate.Rate</option>
                    }
                    else
                    {
                        <option value="@rate.Id">@rate.Rate</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="VATRateIdSearch" class="text-danger"></span>
    </div>
    <div class="col-sm col-md col-lg mb-3">
        <label class="form-label" asp-for="CategoryIdSearch">Kategorie:</label>
        <select class="form-select" asp-for="CategoryIdSearch">
            <option value="" selected>Nevybráno</option>
            @if (Model.Categories != null)
            {
                @foreach (var category in Model.Categories)
                {
                    if (Model.CategoryIdSearch != null && category.Id == Model.CategoryIdSearch)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="CategoryIdSearch" class="text-danger"></span>
    </div>
    @{
        if (!User.IsInRole(nameof(Roles.Cashier)))
        {
            <div class="col-sm col-md col-lg mb-3 column">
                <label class="form-label" asp-for="StoreIdSearch">Prodejna:</label>
                <select class="form-select" asp-for="StoreIdSearch">
                    <option value="" selected>Nevybráno</option>
                    @if (Model.Stores != null)
                    {
                        @foreach (var store in Model.Stores)
                        {
                            if (Model.StoreIdSearch != null && store.Id == Model.StoreIdSearch)
                            {
                                <option value="@store.Id" selected>@store.Name</option>
                            }
                            else
                            {
                                <option value="@store.Id">@store.Name</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="StoreIdSearch" class="text-danger"></span>
            </div>
        }
    }
    <div class="col-sm col-md col-lg mb-3 d-flex align-items-end justify-content-start">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search me-1"></i>Vyhledat</button>
    </div>
</form>
@{
    if (Model != null && Model.Products != null && Model.Products.Count > 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Skladem</th>
                        <th scope="col">Kód EAN</th>
                        <th scope="col">Kód prodejce</th>
                        <th scope="col">Název</th>
                        <th scope="col">Zkrácený název</th>
                        <th scope="col">Popis</th>
                        @{
                            if (User.IsInRole(nameof(Roles.Manager)) || User.IsInRole(nameof(Roles.WarehouseAccountant)))
                            {
                                <th scope="col">Cena bez DPH</th>
                                <th scope="col">Cena s DPH</th>
                            }
                        }
                        <th scope="col">Prodejní cena</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Products.Count; i++)
                    {
                        <tr>
                            <th scope="row">@Model.ProductQuantities[Model.Products[i].Id]</th>
                            <td>@Model.Products[i].EanCode</td>
                            <td>@Model.Products[i].SellerCode</td>
                            <td>@Model.Products[i].Name</td>
                            <td>@Model.Products[i].ShortName</td>
                            <td>@Model.Products[i].Description</td>
                            @{
                                if (User.IsInRole(nameof(Roles.Manager)) || User.IsInRole(nameof(Roles.WarehouseAccountant)))
                                {
                                    <td>@Model.Products[i].PriceVATFree Kč</td>
                                    <td>@Model.Products[i].PriceVAT Kč</td>
                                }
                            }
                            <td>@Model.Products[i].PriceSale Kč</td>
                            @if (User.IsInRole(nameof(Roles.WarehouseAccountant)) || User.IsInRole(nameof(Roles.Manager)))
                            {
                                <td><a class="btn btn-warning d-inline-flex" asp-action="Edit" asp-route-id="@Model.Products[i].Id"><i class="bi bi-pencil me-1"></i>Upravit</a></td>
                            }
                            @if (User.IsInRole(nameof(Roles.WarehouseAccountant)))
                            {
                                <td><a class="btn btn-success d-inline-flex" asp-action="Stockup" asp-route-id="@Model.Products[i].Id"><i class="bi bi-cart4 me-1"></i>Naskladnit</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Stránkování">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)">
                            <a class="page-link" asp-action="Index" asp-route-EanCodeSearch="@Model.EanCodeSearch" asp-route-SellerCodeSearch="@Model.SellerCodeSearch" asp-route-CategoryIdSearch="@Model.CategoryIdSearch" asp-route-VatrateIdSearch="@Model.VATRateIdSearch" asp-route-StoreIdSearch="@Model.StoreIdSearch" asp-route-CurrentPage="@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    }
    else
    {
        <p class="lead text-dark mb-4">Nebyly nalezeny žádné produkty</p>
    }
}

@section Scripts
{

}