@using PokladniSystem.Infrastructure.Identity.Enums
@model ProductListViewModel

@{
    ViewData["Title"] = "Seznam produktů";
}

<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>

@if (User.IsInRole(nameof(Roles.WarehouseAccountant)))
{
    <a class="btn btn-primary mb-4" asp-action="Create">Přidat produkt</a>
}

<form method="get" action="@Url.Action("Index")" class="row">
    <div class="col-sm-6 col-md-3 mb-3">
        <label class="form-label" asp-for="EanCodeSearch">Kód EAN:</label>
        <input class="form-control" asp-for="EanCodeSearch">
        <span asp-validation-for="EanCodeSearch" class="text-danger"></span>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <label class="form-label" asp-for="SellerCodeSearch">Kód prodejce:</label>
        <input class="form-control" asp-for="SellerCodeSearch">
        <span asp-validation-for="SellerCodeSearch" class="text-danger"></span>
    </div>
    <div class="col-sm-4 col-md-2 mb-3">
        <label class="form-label" asp-for="VATRateIdSearch">DPH:</label>
        <select class="form-select" asp-for="VATRateIdSearch">
            <option value="" selected>Nevybráno</option>
            @if (Model.VATRates != null)
            {
                @foreach (var rate in Model.VATRates)
                {
                    if (Model.VATRateIdSearch != null && rate.Id == Model.VATRateIdSearch)
                    {
                        <option value="@rate.Id" selected>@rate.Rate</option>
                    }
                    else
                    {
                        <option value="@rate.Id">@rate.Rate</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="VATRateIdSearch" class="text-danger"></span>
    </div>
    <div class="col-sm-4 col-md-2 mb-3">
        <label class="form-label" asp-for="CategoryIdSearch">Kategorie:</label>
        <select class="form-select" asp-for="CategoryIdSearch">
            <option value="" selected>Nevybráno</option>
            @if (Model.Categories != null)
            {
                @foreach (var category in Model.Categories)
                {
                    if (Model.CategoryIdSearch != null && category.Id == Model.CategoryIdSearch)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="CategoryIdSearch" class="text-danger"></span>
    </div>
    <div class="col-sm-4 col-md-2 mb-3 d-flex align-items-end justify-content-start">
        <button type="submit" class="btn btn-primary">Vyhledat</button>
    </div>
</form>
@{
    if (Model != null && Model.Products != null && Model.Products.Count > 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Kód EAN</th>
                        <th scope="col">Kód prodejce</th>
                        <th scope="col">Název</th>
                        <th scope="col">Zkrácený název</th>
                        <th scope="col">Popis</th>
                        <th scope="col">Cena bez DPH</th>
                        <th scope="col">Cena s DPH</th>
                        <th scope="col">Prodejní cena</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Products.Count; i++)
                    {
                        <tr>
                            <th scope="row">@Model.Products[i].Id</th>
                            <td>@Model.Products[i].EanCode</td>
                            <td>@Model.Products[i].SellerCode</td>
                            <td>@Model.Products[i].Name</td>
                            <td>@Model.Products[i].ShortName</td>
                            <td>@Model.Products[i].Description</td>
                            <td>@Model.Products[i].PriceVATFree</td>
                            <td>@Model.Products[i].PriceVAT</td>
                            <td>@Model.Products[i].PriceSale</td>
                            @if (User.IsInRole(nameof(Roles.WarehouseAccountant)) || User.IsInRole(nameof(Roles.Manager)))
                            {
                                <td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Products[i].Id">Upravit</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.TotalPages > 1)
        {
            <nav aria-label="Stránkování">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)">
                            <!--<a class="page-link" href="?page=@i">@i</a>-->
                            <!--<a class="page-link" asp-action="Index" asp-route-CurrentPage="@i">@i</a>-->
                            <a class="page-link" asp-action="Index" asp-route-EanCodeSearch="@Model.EanCodeSearch" asp-route-SellerCodeSearch="@Model.SellerCodeSearch" asp-route-CategoryIdSearch="@Model.CategoryIdSearch" asp-route-VatrateIdSearch="@Model.VATRateIdSearch" asp-route-CurrentPage="@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }
    }
    else
    {
        <p class="lead text-dark mb-4">Nebyly nalezeny žádné produkty</p>
    }
}